/******************************************************************
 ** CSS for Prospect Attribute Dashboard Editor
 **/

#ractive-output {
	font-size: 12px;
}

	/* Error for displaying Error Messages */
#error-frame {
	color: red;
	border: red solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

	/* To display Legend entry */
.viz-icon {
	cursor: pointer;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0;

	border: black dotted 1px;
	display: inline-block;
}

	/* The button set to operate on Legend entries */
.legend-btn-set {
	padding: 4px;
	font-size: 12px;
	display: inline-block;
}

	/* To minimize size of ui buttons */
.ui-button-icon-only {
	width: 1.4em !important;
	height: 1.4em !important;
}

.jq-dialog-template {
	font-size: 12px;
}

	/* Container for list of vocab entries */
.legend-vocab {
	width: 600px;
	height: 300px;
	padding: 3px;
	overflow: auto;
	border: 1px black dotted;
}

	/* Container for list of attribute data entries */
.legend-data {
	width: 600px;
	padding: 3px;
	border: 1px black dotted;
}

	/* A single Legend entry */
.legend-data-entry {
	margin: 2px;
}

.legend-label {
	width: 160px;
	font-weight: bold;
}

.legend-val {
	width: 120px;
}

ol.vocab-parent {
	margin-left: 3px;
}
ol.vocab-children {
	margin-left: 20px;
}

	/* Container for PNG icons in Icon Choice Modal */
.png-container {
	list-style: none;
	padding-left: 0;
}

.png-container li {
	max-width: 32px;
	max-height: 32px;
	border: 2px dotted gray;
	list-style-type: none;
	margin: 4px;
	float: left;
}

.png-container li img {
	max-width: 32px;
	max-height: 32px;
}

.png-container li.selected {
	border: 2px solid red;
	background-color: yellow;
}

.png-container li:hover {
	border: 2px dotted orange;
}
