/******************************************************************
 ** CSS for Prospect Exhibit Dashboard Editor
 **/

	/* Make ranger slider compact */
input[type=range] {
	width: 80px;
	height:12px;
	cursor: pointer;
}

	/* Modify all buttons in the Edit Exhibit Dashboard */
#prsp_exhibit_box button {
	display: inline-block;
	padding: 6px 10px;
	margin: 3px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #eee;
	border-color: #ccc;
}

#prsp_exhibit_box button:active {
    background: #ccc;
}

button#prsp-save-data {
	background-color: #77CCFF;
}

#prsp_exhibit_box input[type="text"], #prsp_exhibit_box input {
	padding: 6px 12px;
	margin: 5px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#prsp_exhibit_box input[type="checkbox"] {
    margin: 15px 0 15px 15px;
}

	/* Just color bar to activate browser input method */
#prsp_exhibit_box input[type="color"] {
	padding: 2px;
	width: 40px;
	font-size: 9px;
}

	/* Error for displaying Error Messages */
#error-frame {
	color: red;
	border: red solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#error-frame.ok {
	color: green;
	border-color: green;
}

	/* Dialog-specific styles */
div.dialog-wrap * {
	margin: 0;
	padding: 0;
}

div.dialog-wrap {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	background-color: rgba(0,0,0,0.1);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	-webkit-transition: all 0.1s;
	   -moz-transition: all 0.1s;
		 -o-transition: all 0.1s;
			transition: all 0.1s;
}

	/* Custom popup Dialog CSS here */
div.dialog-wrap.open {
	display: block;
}

div.dialog-wrap.open.pop {
	background-color: #666;
	background-color: rgba(0,0,0,0.6);
}

div.dialog-wrap > div {
	position: fixed;
	z-index: 99999;
	left: 50%;
	top: 20%;
	margin-left: -150px;
	width: 300px;
	padding: 10px;
	background-color: #fff;

	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;

	-webkit-transform: scale(0.2);
	   -moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
			transform: scale(0.2);

	border-radius: 8px;
}

div.dialog-wrap.pop > div {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
}

div.dialog-wrap > div.thin {
	margin-left: -75px;
	width: 150px;
}

div.dialog-wrap > div.wide {
	margin-left: -250px;
	width: 500px;
}


div.dialog-wrap > div {
	font-size: 12px;
}

div.dialog-wrap div.title {
	text-align: center;
	font-size: 18px;
	margin-bottom: 15px;
}

div.dialog-wrap input {
/*	display: block; */
/*	width: 100%; */
	padding: 5px;
	margin: 5px 0;
	font-size: 12px;
	outline: none;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
			box-sizing: border-box
}

div.dialog-wrap input:focus {
	border: 1px solid #29ABF7;
}

div.dialog-wrap .btn {
	float: right;
	padding: 8px;
	margin-left: 10px;
	margin-top: 6px;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	background-color: #3b73af;
	font-size: 14px;

	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout:none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

div.dialog-wrap .ok {
	background-color: #3baf73;
}

div.dialog-wrap .cancel {
	background-color: #a33;
}

div.dialog-wrap .btn:hover {
	opacity: 0.8;
}

div.dialog-wrap .btn:active {
	opacity: 1;
}

	/* To display Legend entry */
.viz-icon {
	cursor: pointer;
/*	width: 24px;
	height: 24px; */
	width: 40px;
	height: 12px;

	padding: 0;
	margin: 0;

	border: black dotted 1px;
	display: inline-block;
	vertical-align: middle;
}

	/* To minimize size of ui buttons */
.ui-button-icon-only {
	width: 1.4em !important;
	height: 1.4em !important;
}

	/*  grouping controls that belong to an Attribute  */
.attribute-controls {
	margin: 1px;
	padding: 2px;
    display: inline-block;
    line-height: 1em;
}

.map-layer-div {
	vertical-align: middle;
}

.map-layer-div input {
	vertical-align: middle;
}

hr.vf-divider {
      border-top: 1px dashed #0000CC;
      border-bottom: 2px solid #0000CC;
      color: #fff;
      background-color: #fff;
      height: 4px;
}

div.vscroll {
	width: 100%;
	max-height: 180px;
	border: 1px grey solid;
	overflow-y: scroll;
	font-size: 10px;
	line-height: 1.1;
}

span.oneterm {
	width: 150px;
	margin: 4px;
	padding: 1px;
}

/* ========== jQueryUI components =========== */
/* == Overrides to make styling work in WP == */

.ui-draggable, .ui-droppable {
	background-position: top;
}

	/* Class to prevent close icon on jQueryUI Dialog boxes */
/* .no-close .ui-dialog-titlebar-close {
	display: none;
} */

/* .ui-dialog-title, .ui-dialog-content, .ui-dialog-buttonpane {
	font-size: 12px;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
} */

.ui-accordion, .ui-accordion-header, .ui-accordion-content {
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

.ui-accordion-header {
	font-size: 14px;
	font-weight: bold;
}

.ui-accordion-content {
	font-size: 12px;
	font-weight: normal;
}

.ui-accordion .ui-accordion-header {
	display: block;
	position: relative;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: 0.5em !important;
}

.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em !important;
}

.ui-icon {
	display: block;
	overflow: hidden;
}

.ui-button {
	margin: 3px;
}
