/******************************************************************
 ** CSS for Prospect Record Dashboard Editor
 **/


	/* Error for displaying Error Messages */
#error-frame {
	color: red;
	border: red solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}


	/* Modify all buttons in the Edit Record Dashboard */
#prsp_record_box button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #eee;
	border-color: #ccc;
}

#prsp_record_box button:active {
    background: #ccc;
}

button#prsp-save-data {
	background-color: #77CCFF;
}

#prsp_record_box input[type="text"], #prsp_record_box input {
	padding: 6px 12px;
	margin: 5px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#prsp_record_box input[type="checkbox"] {
    margin: 15px 0 15px 15px;
}


.jq-dialog-template {
	font-size: 12px;
}

	/* To minimize size of ui buttons */
.ui-button-icon-only {
	width: 1.4em !important;
	height: 1.4em !important;
}

.scroll-container {
	overflow-y: auto;
}
