	/* Creates Flex style for tiled cards */
.prospect-cards {
	padding: 4px;

	display: -webkit-flex; /* Safari */
	display: flex;

	-webkit-flex-direction: row; /* Safari */
	flex-direction:         row;

	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;

	-webkit-align-items: flex-start; /* Safari */
	align-items:         flex-start;

	-webkit-align-content: flex-start; /* Safari */
    align-content:         flex-start;
}

div.prospect-card {
	margin: 3px;
	border: black solid 1px;
	box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
	padding: 3px;
	overflow: hidden;
	line-height: 1.1em;

		/* Flex properties as item within container */
	-webkit-flex-grow: 1; /* Safari */
	flex-grow: 1;

	-webkit-flex-shrink: 1; /* Safari */
	flex-shrink:         1;

	-webkit-flex-basis: 250px; /* Safari */
	flex-basis:         250px;

		/* Flex properties as a container */
	display: -webkit-flex; /* Safari */
	display: flex;

	-webkit-flex-direction: row; /* Safari */
	flex-direction:         row;

	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;

	-webkit-align-items: flex-start; /* Safari */
	align-items:         flex-start;

	-webkit-align-content: flex-start; /* Safari */
    align-content:         flex-start;

	margin-bottom: 5px;
}

img.prospect-thumb {
	vertical-align: middle;

	width: 80px;
	margin-right: 5px;
}

p.prospect-card-text {
	margin: 2px;
	vertical-align: top;

	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;

		/* Flex properties as item within container */
	-webkit-flex-grow: 3; /* Safari */
	flex-grow: 3;

	-webkit-flex-shrink: 3; /* Safari */
	flex-shrink:         3;

	-webkit-flex-basis: 170px; /* Safari */
	flex-basis:         170px;
}

p.prospect-card-text span.title {
	font-weight: bold;
}

p.prospect-card-text span.content {
	font-size: .8em;
	font-style: italic;
}

	/* Styles for Image cards with hover caption */
figure.prospect {
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #ddd;
	margin: 1em;
}

figure.prospect > figcaption.prospect {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;

	text-align: center;
	font-weight: bold;
	line-height: 1.2em;
	padding-bottom: .2em;
	width: 100%;
	height: 100%;
	display: table;
}

figure.prospect > figcaption.prospect > div {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: 20px;
	opacity: 0;
	color: #2c3e50;
}

figure.prospect > figcaption.prospect div:after {
	position: absolute;
	left: 0; right: 0;
	bottom: 40%;
	text-align: center;
	margin: auto;
	width: 0%;
	height: 2px;
	background: #2c3e50;
}

figure.prospect img {
	width: 100%;
	height: 100%;

	-webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
	-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.prospect:hover > figcaption.prospect {
/*	background: rgba(255,255,255,0.3); */
	background: grey;
}

figure.prospect:hover > figcaption.prospect > div {
	opacity: 1;
	top: 0;
	color: white;
}

figure.prospect:hover > figcaption.prospect  span.content {
	font-size: .8em;
	font-style: italic;
}

figure.prospect > figcaption.prospect:hover div:after {
	width: 50%;
}

figure.prospect:hover img {
	-webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}


h1.prospect {
	margin-top: 1em;
	margin-bottom: .2em;
	margin-left: 0;
	margin-right: 0;
}

h2.prospect {
	margin-top: .4em;
	margin-bottom: .1em;
	margin-left: 0;
	margin-right: 0;
}

p.prospect {
	line-height: 1.2em;
	margin-top: .3em;
	margin-bottom: .1em;
	margin-left: 0;
	margin-right: 0;
}

	/* Style for content Attribute in Simply List display */
p.prospect-list-content {
	font-size: .75em;
	font-style: italic;
}

div.prospect-no-wrap {
	margin: 3px;
	padding: 2px;
	white-space: nowrap;
}

div.prospect-no-wrap img, div.prospect-no-wrap p {
	display: inline-block;
	padding-top: 3px;
	padding-right: 4px;
	vertical-align: top;
}
