/******************************************************************
 ** CSS for Prospect Front-end Visualizer
 ** Uses Flexbox to create dynamically resized blocks. See technique at:
 **		http://railsware.com/blog/2014/12/02/flexbox-as-a-solution-for-browser-reflow-optimization/
 ** NOTES from above article:
 **		jQuery .show() & .hide() cannot be used on DIVs that use Flexbox; need to define hide style
 ** 	Browsers have inconsistent support for Flexbox (and some bugs); IE is unreliable
 ** Also see https://github.com/philipwalton/flexbugs
 **/

	/* Normalize box sizes! See: http://css-tricks.com/international-box-sizing-awareness-day/
	 */
     *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    
        overflow: hidden;
    }
    
    body {
        min-height: 100%;
    
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        /*	display: -moz-box; -- This breaks current FireFox! */
    
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
    
        font-family:Verdana, Arial, sans-serif;
        font-size: 14px;
    
        overflow: hidden;
        margin: 0;
    }
    
        /* For busy cursor */
    body.waiting * {
        cursor: wait !important;
    }
    
    #wpadminbar {
        display: none;
        height: 0;
    }
    
        /* To indicate input errors */
    input[type=text].error {
        background-color: yellow;
        color: red;
    }
    
        /* Class to prevent close icon on jQueryUI Dialog boxes */
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }
    
        /* For maximal expansion of an element */
    div.max-size {
        width: 100%;
        height: 100%;
    }
    
    div.max-v-size {
        height: 100%;
    }
    
    div.scroll-container {
        overflow: auto;
    }
    
    div.h-scroll {
        overflow-x: scroll;
    }
    
    div.v-scroll {
        overflow-y: scroll;
    }
    
    fieldset.radiogroup {
        margin: 0;
        padding: 0;
        margin-bottom: .125em;
        padding: .125em;
    }
    
    fieldset.radiogroup legend {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 10px;
        margin-left: .125em;
        color: black;
    }
    
    ul.radio  {
        margin: 0;
        padding: 0;
        margin-left: .125em;
        list-style: none;
    }
    
    ul.radio label  {
        font-size: 10px;
    }
    
    ul.radio li {
        border: 1px transparent solid;
    }
    
    ul.radio li:hover, ul.radio li.focus {
        background-color: #E0E0E0;
        border: 1px gray solid;
    }
    
    
        /* DOM structure of web page for visualizations:
         * #command-bar
         * #note
         * #filter-frame
         * #viz-frame
         */
    
        /* Command Bar always along top row of window */
    #command-bar {
        height: 28px;
        background: #4096ee; /* Old browsers */
        background: -moz-linear-gradient(top, #4096ee 0%, #4096ee 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #4096ee 0%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #4096ee 0%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #222;
        margin: 0px;
        padding: 24px 40px 60px;
    
        font-family:Verdana, Arial, sans-serif;
        font-size: 14px;
    
        vertical-align: middle;
    }
    
    #command-bar .title {
        margin-left: 3px;
        margin-top: 2px;
    }
    
    #command-bar button.ui-button {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    #command-bar label {
        font-size: 10px;
    }
    
    #command-bar .ui-icon {
        cursor: pointer;
    }
    
    #command-bar .home {
        /*float: right;*/
    }
    
    #pstate {
        background-color: white;
        color: black;
        border: 1px black solid;
        text-align: center;
        vertical-align: middle;
        padding: 3px;
        font-size: 10px;
    }
    
    #pstate.attn {
        background-color: yellow;
        color: red;
    }
    
        /* Floating annotation */
    #annote {
        position: absolute;
        z-index: 1001;		/* Leaflet uses 400, so we need larger; must also be > Legend */
        top: 29px;
        left: 60%;
    
        max-width: 38%;
    
        max-height: 300px;
    
        overflow-y: auto;
    
        padding: 6px;
        background-color: rgba(255, 255, 255, .8);
    
        color: #222;
    
        font-family: Times, "Times New Roman", Georgia, serif;
        font-size: 14px;
    
        -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    }
    
        /* DOM Structure of Filter Frames
         * #filter-frame
         * 	#filter-control-bar
         *	#filter-instances
         *		.filter-instance data-id (unique random #)
         *			.filter-head
         *			.filter-body
         */
    
        /* All Filters go into this frame */
    #filter-frame {
        font-family:Verdana, Arial, sans-serif;
        background-color: #ccc;
    }
    
    /*
    #filter-frame button {
        font-family:Verdana, Arial, sans-serif;
    }*/
    
        /* This is the control bar for filters */
    #filter-control-bar {
        height: 28px;
        padding: 10px 20px 30px;
        margin: 0;
        vertical-align: middle;
        font-size: 12px;
    }
    
        /* All Filter instances go into this scrolling area */
    #filter-instances {
        min-height: 0px;
        max-height: 300px;
    /*	overflow-y: auto; */
        overflow: auto;
        font-size: 11px;
        margin: 0px;
        padding: 0px;
    }
    
        /* Each Filter instance (inc Highlight dialogs) has this class as outer wrapper */
    div.filter-instance {
        max-height: 300px;
        padding-left: 8px;
        font-size: 9px;
        margin: 1px;
    }
    
    div.filter-instance input[type=text] {
        padding: 1px;
    }
    
        /* Title and control bar for each filter instance */
    div.filter-head {
        height: 24px;
        padding: 2px;
        margin: 0;
        vertical-align: top;
        border-bottom: black 1px dotted;
    }
    
        /* Area for each filter's GUI controls
         * Used in Filter DIV and in Highlight dialogs
         */
    div.filter-body {
        white-space: nowrap;	/* don't allow controls to wrap to new line */
        padding: 0px;
        padding-left: 4px;
        margin: 0px;
    }
    
        /* Group of items within a filter body */
    div.filter-body div.cntrl-blck {
        display: inline-block;
        padding-top: 3px;
        padding-right: 4px;
        vertical-align: top;
    }
    
    div.filter-body input[type=text] {
        font-size: 9px;
        padding: 1px;
        margin: 1px;
    }
    
    div.filter-body svg {
        display: inline;
        margin: 2px;
        padding: 0px;
    }
    
        /* For Filters with category range graphs */
    div.filter-body svg .bar {
    }
    
    div.filter-body svg .axis text {
        font-size: 9px;
        color: black;
    }
    
    div.filter-body svg .axis path,
    div.filter-body svg .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    
    div.filter-body svg .x.axis path {
        display: none;
    }
    
    div.filter-body svg g.brush .selection {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }
    
    div.filter-body svg g.brush path {
        stroke: midnightblue;
        stroke-width: 1px;
    }
    
        /* DOM Structure of Visualization frames
         * #viz-frame
         *	 #view-frame-0
         *		.view-controls
         *		.lgnd-container
         *		.selidlist
         *		.viz-content
         *			.viz-result
         *			.annote
         *	 #view-frame-1
         *		... (same as above)
         */
    
        /* One or two displays go into this frame */
    #viz-frame {
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
    
        display: flex;
        display: -webkit-box;
        /*	display: -moz-box;  This breaks things! */
        display: -ms-flexbox;
        display: -webkit-flex;
    
        flex-direction: row;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
    
        font-family:Verdana, Arial, sans-serif;
    }
    
    /*#viz-frame button {
        font-family:Verdana, Arial, sans-serif;
    }*/
    
    #viz-frame span.btn-num-sel {
        font-size: 10px;
        border-radius: 5px;
    
        padding: 4px;
    
        -moz-box-shadow:    inset 0 0 4px #222222;
        -webkit-box-shadow: inset 0 0 4px #222222;
        box-shadow:         inset 0 0 4px #222222;
    
        cursor: pointer;
    }
    
        /* The first visualization display */
    #view-frame-0 {
        min-width: 45%;		/* needed in case of "dynamic" content like Leaflet */
    
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
    
        position: relative;
    }
    
        /* The second visualization display */
    #view-frame-1 {
        min-width: 45%;		/* needed in case of "dynamic" content like Leaflet */
    
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
    
        position: relative;
        margin-left: 2.5px;
    }
    
    div.view-controls {
        height: 28px;
        width: 100%;
        padding: 10px 20px 30px;
        margin: 0;
        vertical-align: middle;
        font-size: 14px;
        background: #eee;
    }
    
    div.view-controls button.ui-button {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    div.view-controls .ui-icon {
        cursor: pointer;
    }
    
        /* Right-justified (optional) toolbar */
    div.view-controls div.iconbar
    {
        padding: 2px;
        margin: 1px;
        margin-top: -4px;
    /*	display: inline-block; */
        font-size: 9px;
        float: right;
    }
    
    div.viz-content {
        position: absolute;
        height: 100%;
        height: calc(100% - 40px);
        width: 100%;
        padding: 10px 20px;
    }
    
        /* All visualization results rendered here */
        /* Styles are added to this DIV depending on whether visualization needs fixed size or content-wrapping size */
    div.viz-result {
        margin: 0px;
        padding: 0;
    }
    
        /* Visualization space takes as much as is necessary to show content results */
        /* Add to viz-result DIV */
    div.viz-result.viz-fit-h {
        /*	height: -moz-fit-content;
            height: -webkit-fit-content;
            height: fit-content;
         */
    
        /*	height: -moz-fit-content;
            height: -moz-max-content;
            height: -webkit-max-content;
            height: -o-max-content;
            height: max-content;
        */
    }
    div.viz-result.viz-fit-w {
        /*	width: -moz-fit-content;
            width: -webkit-fit-content;
            width: fit-content;
         */
    
        /*	width: -moz-fit-content;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: -o-max-content;
            width: max-content;
        */
    }
    
        /* Visualization space takes all available screen space */
        /* Add to viz-result DIV */
    div.viz-result.viz-max-h {
        height: 100%;
    }
    div.viz-result.viz-max-w {
        width: 100%;
    }
    
        /* Legends are semi-opaque overlays on content in top-left corner (z = 1000)
         * lgnd-container (outer)
         *		lgnd-handle (draggable)
         *			lgnd-update
         *		lgnd-scroll (scrolling area)
         * 		lgnd-template (DIV per template): data-index = index of Template
         *			lgnd-title
         *			lgnd-locate (Attribute that locates object on visualization): data-id = Attribute ID
         *			lgnd-select (menu with list of Legend Attributes)
         *				option value = (full) Attribute ID
         *			lgnd-sh	  (show/hide option)
         *			lgnd-group  (DIV of feature selections for a Template)
         *				lgnd-value  (single legend feature): data-index = index of legend entry in array
         *					lgnd-viz   (color or icon)
         *
         * NOTES:	Any line that begins with a checkbox is DIV of class 'lgnd-entry'.
         * 			The checkbox itself is class lgnd-entry-check
         *			On z-index: http://philipwalton.com/articles/what-no-one-told-you-about-z-index/
         *				https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Understanding_z_index/Adding_z-index
         */
    div.lgnd-container {
        position: absolute;
        top: 60px;
        left: 10px;
    
        z-index: 1000;		/* Leaflet uses 400, so we need larger number */
    
        width: 270px;
    
        height: 265px;
    
        padding: 4px;
        background-color: rgba(255, 255, 255, .8);
    
        color: #222;
        font-family: Verdana, Arial, sans-serif;
    
        -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    }
    
    div.lgnd-container.min {
        height: 28px;
    }
    
    div.lgnd-container > div.lgnd-handle {
        height: 22px;
        background-color: #A8A8A8;
        border: 1px black dotted;
        cursor: move;
    
        margin-bottom: 3px;
        padding-top: 2px;
        width: 100%;
    
        font-size: 10px;
    
        -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
    }
    
    div.lgnd-container > div.lgnd-handle button {
        vertical-align: middle;
    }
    
    div.lgnd-container > div.lgnd-handle label {
        vertical-align: middle;
        font-weight: bold;
    }
    
        /* Button to force Re-render */
    div.lgnd-container > div.lgnd-handle > button.lgnd-update {
        height: 18px;
        margin: 2px;
        margin-top: 0;
        padding: 1px;
        padding-top: 1px;
    
        float: right;
    
        background-color: white;
    
        font-size: 9px;
        color: #0066FF;
        font-weight: bold;
    }
    
    div.lgnd-container > div.lgnd-handle > button.lgnd-update:disabled {
        opacity: 0.65;
        cursor: not-allowed;
        color: grey;
    }
    
    div.lgnd-scroll {
        overflow-y: auto;
        height: 232px;
    }
    
    div.lgnd-title {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px dotted #111;
        margin-bottom: 6px;
    }
    
        /* A selectable entry that has a checkbox */
    div.lgnd-entry {
        font-size: 11px;
        height: 22px;
        font-weight: normal;
        padding: 0;
        margin: 0;
    
        overflow: hidden;
    
        position: relative;
    }
    
        /* Legend Attribute checkbox */
    div.lgnd-entry-check {
        cursor: pointer;
    }
    
        /* visual marker in a lgnd-entry */
    div.lgnd-viz {
        border: 1px solid dotted;
    
        width: 18px;
        height: 18px;
    
        display: inline-block;
        vertical-align: middle;
    }
    
    div.lgnd-viz-empty {
        background: -webkit-linear-gradient(white, gray, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, gray, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, gray, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, gray, white); /* Standard syntax */
    }
    
    div.lgnd-value-title {
        vertical-align: middle;
    }
    
        /* Selection List shows what Records are currently selected
         * sellist (outer)
         *		sellist-handle (draggable)
         *			sellist-close (button)
         *		sellist-scroll (scrolling area)
         *			sellistid (entry)
         */
    div.sellist {
        position: absolute;
        top: 60px;
        left: 10px;
    
        z-index: 999;		/* Leaflet uses 400, so we need larger number */
    
        width: 270px;
    
        height: 265px;
    
        padding: 4px;
        background-color: rgba(255, 255, 255, .8);
    
        color: #222;
        font-family: Verdana, Arial, sans-serif;
    
        -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    }
    
    div.sellist.min {
        height: 28px;
    }
    
    div.sellist > div.sellist-handle {
        height: 22px;
        background-color: #A8A8A8;
        border: 1px black dotted;
        cursor: move;
    
        padding-top: 2px;
        margin-bottom: 3px;
        width: 100%;
    
        -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
    
        font-size: 10px;
    }
    
    div.sellist > div.sellist-handle label {
        vertical-align: middle;
        font-weight: bold;
    }
    
    div.lgnd-container > div.lgnd-handle button {
        vertical-align: middle;
    }
    
    div.sellist > div.sellist-scroll {
        overflow-y: auto;
        height: 232px;
    }
    
    div.sellist-rec {
        background-color: white;
        color: black;
        font-size: 10px;
        white-space: nowrap;
        overflow-x: hidden;
        margin: 0;
        padding: 2px;
        cursor: pointer;
    }
    
    div.sellist-rec.active {
        background-color: yellow;
    }
    
        /* Min-max button appears on both Legend and Selection List */
    button.minmax {
        float: right;
    }
    
    /* MODAL DIALOGS
     * =============
     */
    
    span.ui-dialog-title {
        font-size: 12px;
    }
    
    div.ui-dialog-content {
        font-size: 11px;
    }
    
    div.ui-dialog-content p {
        margin: 2px;
        padding: 0;
    }
    
    div.ui-dialog-content input[type=text] {
        margin-bottom: 2px;
    }
    
    div.scroll-container ul {
        list-style-position: inside;
        margin: 3px;
        padding: 0;
        padding-left: 4px;
        cursor: pointer;
    }
    
    div.scroll-container .selected {
        color: #56A0D3;
    }
    
        /* In Dialogs for showing and managing Perspectives */
    #prspctv-slist {
        height: 100%;
    }
    
    #prspctv-slist li {
        line-height: 1.2em;
    }
    
    #prspctv-mlist {
        font-size: 12px;
        height: 100%;
    }
    
    #prspctv-mlist li {
        line-height: 1.5em;
    }
    
    #prspctv-mlist button {
        font-size: 7px;
        padding: 0;
        padding-left: 2px;
        padding-right: 2px;
        margin: 0;
        margin-left: 2px;
        margin-right: 2px;
        float: right;
    }
    
        /* Opacity dialogs */
    div.op-layer {
        font-size: 11px;
        vertical-align: middle;
    }
    
    div.op-layer input {
        vertical-align: middle;
    }
    
        /* Inspector Modal
         * ===============
         */
    
    #dialog-inspector {
        font-size: 12px;
    }
    
    #dialog-inspector .inspector-header {
        font-size: 12px;
        text-align: center;
        padding-bottom: 3px;
        margin-bottom: 4px;
        border-bottom: dotted 1px;
    }
    
    #inspect-content img {
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
        max-width: 100%;
    }
    
    #inspect-content .att-label {
        font-weight: bold;
        vertical-align: top;
    }
    
    /* jQueryUI overrides
     * ==================
     */
    
    .ui-dialog-title, .ui-dialog-content, .ui-dialog-buttonpane {
        font-size: small;
        font-family: Verdana, Arial, sans-serif;
    }
    
        /* To minimize size of ui buttons */
    .ui-button-icon-only {
        width: 1.4em !important;
        height: 1.4em !important;
    }
    
    label {
    /*	display: inline-block; */
        width: 5em;
    }
    
    @-webkit-keyframes pulse {
        0% { border: 4px solid #d3d3d3; }
        100% { border: 4px solid #4096ee; }
    }
    @-moz-keyframes pulse {
        0% { border: 4px solid #d3d3d3; }
        100% { border: 4px solid #4096ee; }
    }
    @-ms-keyframes pulse {
        0% { border: 4px solid #d3d3d3; }
        100% { border: 4px solid #4096ee; }
    }
    @keyframes pulse {
        0% { border: 4px solid #d3d3d3; }
        100% { border: 4px solid #4096ee; }
    }
    
    .ui-button.pulse {
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2.25s;
        -moz-animation: pulse 2.25s forwards;
        -ms-animation: pulse 2.25s forwards;
        animation: pulse 2.25s forwards;
    }
    
        /* z-index must be greater than Leaflet's and Legend */
    .ui-front {
        z-index: 1000 !important;
    }
    
    .ui-dialog {
        z-index: 2000 !important;
    }
    
    /* Visualization styles
     * ====================
     */
    
        /* Label separating Template tables */
    div.template-label {
        display: block;
        color: #56A0D3;
        padding: 10px 4px;
    
        font-weight: bold;
        font-size: 16px;
    }
    
        /* Map Styles */
    .maplbl {
        text-align: center;
        margin-top: -21px;
    
        width: 160px;
    /*	Below did not work for some reason
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content; */
    }
    
    .maplbl div {
        position: relative;
        font-size: 10px;
        left: -50%;
    }
    
        /* Cards styles */
    div.cards {
        padding: 4px;
    
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    
        flex-direction: row;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
    
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
    
        align-items: flex-start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
    
        align-content: flex-start;
        -webkit-align-content: flex-start;
        -moz-align-content: flex-start;
        -ms-align-content: flex-start;
    }
    
    div.card {
        margin: 3px;
        border: black solid 1px;
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
        padding: 3px;
        overflow: hidden;
    
        transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
    }
    
    div.card:hover {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
    
        z-index: 1001 !important;
    }
    
    div.card.obj-sel {
        border: yellow solid 2px;
    }
    
    div.card.wt {
        width: 100px;
    }
    div.card.wm {
        width: 150px;
    }
    div.card.ww {
        width: 200px;
    }
    div.card.hs {
        height: 124px;
    }
    div.card.hm {
        height: 174px;
    }
    div.card.ht {
        height: 224px;
    }
    
    div.card > div.card-title {
        height: 14px;
        font-size: 9px;
        font-weight: bold;
        vertical-align: middle;
        overflow: hidden;
        color: black;
        background-color: #F0F8FF;
        border: 1px black solid;
        padding-left: 2px;
    }
    
    div.card.obj-sel > div.card-title {
        background-color: yellow;
    }
    
    div.card > div.card-body {
        font-size: 10px;
        font-weight: normal;
    }
    
    div.card > div.card-body.flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    
        align-items: flex-start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
    }
    
    div.card.wt > div.card-body > img {
        margin: 2px;
        width: 40px;
    }
    div.card.wm > div.card-body > img {
        margin: 2px;
        width: 50px;
    }
    div.card.ww > div.card-body > img {
        margin: 3px;
        width: 70px;
    }
    div.card.wt > div.card-body > img.full {
        margin: 2px;
        width: 88px;
    }
    div.card.wm > div.card-body > img.full {
        margin: 2px;
        width: 138px;
    }
    div.card.ww > div.card-body > img.full {
        margin: 2px;
        width: 184px;
    }
    
    div.card > div.card-body > div.card-cnt {
        color: white;
    
        flex-grow: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-grow: 1;
    }
    
        /* Directory styles */
    table.viz-directory {
        color: #525252;
        border: 1px solid #e0e0e0;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    
    table.viz-directory th {
        padding: 3px;
        border-top: 1px solid #fafafa;
        border-bottom: 1px solid #e0e0e0;
    
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
        background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
    
        font-weight: bold;
        font-size: 11px;
    }
    
    
    table.viz-directory th.sel {
        text-decoration: underline;
    }
    
    table.viz-directory th:first-child {
        text-align: left;
    }
    
    table.viz-directory tr:first-child th:first-child {
        -moz-border-radius-topleft:3px;
        -webkit-border-top-left-radius:3px;
        border-top-left-radius:3px;
    }
    
    table.viz-directory tr:first-child th:last-child {
        -moz-border-radius-topright:3px;
        -webkit-border-top-right-radius:3px;
        border-top-right-radius:3px;
    }
    
    table.viz-directory tr {
        text-align: center;
    
        font-weight: normal;
        font-size: 11px;
    }
    
    table.viz-directory td:first-child {
        text-align: left;
        border-left: 0;
    }
    
    table.viz-directory td {
        padding: 3px;
        border-top: 1px solid #ffffff;
        border-bottom:1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
    
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
        background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
    }
    
    table.viz-directory td img {
        max-width: 40px;
    }
    
    table.viz-directory tr:nth-child(even) {
        background: #f6f6f6;
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
        background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
    }
    
    table.viz-directory tr:last-child td {
        border-bottom: 0;
    }
    
    table.viz-directory tr:last-child td:first-child {
        -moz-border-radius-bottomleft:3px;
        -webkit-border-bottom-left-radius:3px;
        border-bottom-left-radius:3px;
    }
    
    table.viz-directory tr:last-child td:last-child {
        -moz-border-radius-bottomright:3px;
        -webkit-border-bottom-right-radius:3px;
        border-bottom-right-radius:3px;
    }
    
    table.viz-directory tr.obj-sel td {
        background: #dedede;
    }
    
        /* For all svg graphs in visualization Views */
    div.viz-result svg {
    /*	margin: 2px auto; */
        margin: 2px;
        padding: 0px;
    }
    
    div.viz-result svg .axis text {
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
        color: black;
    }
    
    div.viz-result svg .axis path,
    div.viz-result svg .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    
        /* Timeline styles
         * DOM structure
         * 	tl-vf	(Outermost SVG)
         *		tl-band tl-b-<vf>-0		(Macro)
         *			tl-cnt	(containing rect)
         *				tl-lgnd-bck		(Legend color background)
         *				tl-axis axis-<vf>-0
         *				tl-event
         *		tl-band tl-b-<vf>-1 	(Zoom)
         *			tl-cnt	(containing rect)
         *				tl-lgnd-bck		(Legend color background)
         *				tl-lgnd-ttl		(Legend era title)
         *				tl-axis axis-<vf>-1
         *				tl-event
         **/
    
    svg.tl-vf {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: #F0F0F0;
    }
    
        /* Inner space containing chart */
    svg.tl-vf g.chart {
        fill: #EEEEEE;
    }
    
        /* axis labels */
    svg.tl-vf .axis {
        fill: #808080;
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
    }
    
        /* axis tick marks */
    svg.tl-vf .axis line {
        stroke-width : 1;
        stroke: gray;
        shape-rendering: crispEdges;
    }
    
        /* axis line */
    svg.tl-vf .axis path {
        stroke-width : 1;
        stroke: gray;
        shape-rendering: crispEdges;
    }
    
        /* Legend "Epoch" Background Label */
    svg.tl-vf text.lgBdLbl {
        font-family:Verdana, Arial, sans-serif;
        font-weight: bold;
    }
    
    svg.tl-vf svg.event.range {
        fill: #AAFFFF;
        cursor : default;
        pointer-events: true;
        stroke-width: 1px;
        stroke: black;
        stroke-opacity: 1;
    }
    
    svg.tl-vf svg.event.instant {
        cursor : default;
        pointer-events: true;
        stroke-width: 1px;
        stroke: black;
        stroke-opacity: 1;
    }
    
    svg.tl-vf svg.event.obj-sel
    {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg.tl-vf text.instantLbl {
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
        font-weight: 300;
        fill: #000000;	/* Pixels must be on/white (#FFFFFF) to create XOR effect */
        stroke-width: 0;
        stroke: none;
        shape-rendering: crispEdges;
    }
    
    svg.tl-vf text.rangeLbl {
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
        font-weight: 300;
        stroke: none;
        stroke-width: 0;
        shape-rendering: crispEdges;
    }
    
    svg.tl-vf rect.bLbl {
        fill: #99CCCC;
    }
    
    svg.tl-vf text.bMinMaxLbl {
        fill: #000066;
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
    }
    
    svg.tl-vf g.brush .selection {
        stroke: midnightblue;
        fill: yellow;
        fill-opacity: .2;
    }
    
    svg.tl-vf g.brush path {
        stroke: midnightblue;
        stroke-width: 1px;
    }
    
        /* TextStream styles */
    div.viz-textstream {
        margin: 0;
        padding: 0;
    }
    
    div.viz-textstream div.recitem {
        display: inline-block;
        padding: 2px;
        margin: 3px;
        background-color: white;
        border: black solid 1px;
    }
    
    div.viz-textstream div.recitem.obj-sel {
        border: yellow solid 2px;
    }
    
        /* Stacked Chart styles */
    svg rect.block
    {
        cursor: pointer;
    }
    
    svg rect.block.obj-sel
    {
        stroke: yellow;
        stroke-width: 2px;
    }
    
        /* Pinboard styles */
        /* recobj also reused by TimeRings */
    /* svg circle.recobj
    {
        cursor: pointer;
    }
    
    svg circle.recobj.obj-sel
    {
        stroke: yellow;
        stroke-width: 1;
        fill: none;
    } */
    
    svg line.recline
    {
        stroke-opacity: 1;
        stroke-width: 2px;
        pointer-events: none;
    }
    
        /*	gnode > circle / path used by Pinboard, Network Wheel, EgoGraph, TimeRing */
            /* Changed g.node > g.gnode */
    svg g.gnode
    {
        cursor: pointer;
    }
    
    svg g.gnode circle {
        stroke: black;
        stroke-width: 1px;
    }
    
    svg g.gnode circle.obj-sel {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg g.gnode path {
        stroke: black;
        stroke-width: 1px;
    }
    
    svg g.gnode path.obj-sel {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg g.gnode image {
    }
    
    svg g.gnode image.obj-sel {
        outline: 1px solid yellow;
    }
    
    svg g.gnode text {
        font-family:Verdana, Arial, sans-serif;
        font-size: 11px;
    }
    
    svg path.plink
    {
        stroke-opacity: .7;
        fill: none;
        pointer-events: none;
    }
    
    svg path.plink.thick
    {
        stroke-opacity: 1;
        stroke-width: 2px;
    }
    
        /* cnode is used by Bucket Matrix and TimeRings */
            /* circle.gnode > circle.cnode */
    svg circle.cnode
    {
        cursor: pointer;
        stroke: black;
        stroke-width: 1px;
    }
    
    svg circle.cnode.obj-sel
    {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg line.llink
    {
        stroke-opacity: 1;
        stroke-width: 2px;
        fill: none;
        pointer-events: none;
    }
    
    svg path.bmlink
    {
        stroke-opacity: .25;
        stroke-width: 1px;
        fill: none;
        pointer-events: none;
    }
    
    svg path.bmlink.on
    {
        stroke-opacity: 1;
        stroke-width: 2px;
    }
    
    svg text.s-lbl-text {
        font-family:Verdana, Arial, sans-serif;
        fill: black;
        text-anchor: start;
    }
    
    svg text.t-lbl-txt {
        font-size: 12px;
        font-weight: bold;
    }
    
    svg text.b-lbl-txt {
        font-size: 10px;
        font-weight: normal;
    }
    
        /* Facet Flow styles */
        /* TO DO:  Is this redundant ?? ####################### */
        /* merge with g.mbm-1 below ?? */
    svg rect.bar
    {
        cursor: pointer;
        stroke: black;
        stroke-width: 1px;
    }
    
    svg rect.bar.obj-sel
    {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg path.flow
    {
        cursor: pointer;
        fill-opacity: 0.6;
        stroke-opacity: 0.6;
        stroke: black;
        stroke-width: 1px;
    }
    
    svg path.flow.active
    {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    
    svg path.flow.obj-sel
    {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg text.att-title
    {
        font-family:Verdana, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        fill: black;
        stroke-width: 0;
        stroke: none;
        shape-rendering: crispEdges;
    }
    
        /* MultiBlock Map styles */
    svg g.mbm-1 rect {
        cursor: pointer;
        stroke: black;
        stroke-width: 1px;
    }
    
    svg g.mbm-1.obj-sel rect {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg text.mbm-title {
        cursor: pointer;
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
        font-weight: normal;
        fill: black;
        stroke-width: 0;
        stroke: none;
        shape-rendering: crispEdges;
    }
    
    svg text.mbm-title.obj-sel {
        fill: yellow;
    }
    
    svg rect.mbm-2 {
        cursor: pointer;
        stroke: black;
        stroke-width: 1px;
    }
    
    svg rect.mbm-2.obj-sel {
        stroke: yellow;
        stroke-width: 2px;
    }
    
    svg text.mbm-att-title
    {
        cursor: pointer;
        font: 14px sans-serif;
        font-weight: bold;
        fill: black;
        stroke-width: 0;
        stroke: none;
        shape-rendering: crispEdges;
    }
    
    svg text.mbm-att-title.obj-sel
    {
        fill: yellow;
    }
    
    svg rect.mbm-reset
    {
        cursor: pointer;
        fill: #FF3333;
    }
    
    svg rect.mbm-reset:hover
    {
        fill: red;
    }
    
    svg text.mbm-reset-text
    {
        cursor: pointer;
        font-family:Verdana, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        fill: black;
        stroke-width: 0;
        stroke: none;
        text-anchor: middle;
        shape-rendering: crispEdges;
    }
    
        /* Facet Browser styles */
        /* The top label for a facet (its background rectangle) */
        /* Each has the ID "facet-"+facetIndex */
    svg rect.facet-lbl {
        fill:  #0099FF;     /* sky-blue */
    }
    
    svg text.facet-lbl-txt {
        font-size: 12px;
        font-family:Verdana, Arial, sans-serif;
        font-weight: bold;
        fill: black;
        text-anchor: start;
    }
    
        /* The button+label for a single facet value */
        /* Each has the ID "facet-"+facetIndex+"-"+facetValueIndex */
    svg g.facet-val {
    }
    
    svg rect.facet-val-btn {
        cursor: pointer;
        fill: #00CCFF;      /* light-blue */
        transition: fill .75s;
    }
    
        /* the color to show percentage */
    svg rect.facet-val-bar {
        cursor: pointer;
        fill: #0099FF;      /* dark-blue */
        transition: fill .75s;
    }
    
    svg g.inactive rect.facet-val-btn {
        fill: #D0D0D0;      /* light-grey */
    }
    
        /* the color to show percentage */
    svg g.inactive rect.facet-val-bar {
        fill: #B0B0B0;      /* dark-grey */
    }
    
    svg text.facet-val-txt {
        cursor: pointer;
        font-size: 11px;
        font-family:Verdana, Arial, sans-serif;
        font-weight: normal;
        text-anchor: start;
        fill: black;
    }
    
    svg text.facet-val-num {
        cursor: pointer;
        font-size: 11px;
        font-family:Verdana, Arial, sans-serif;
        font-weight: normal;
        text-anchor: end;
        fill: black;
    }
    
        /* The RESET button for a facet column */
    svg rect.facet-reset-btn {
        cursor: pointer;
        fill: #FF3333;          /* light-red */
        transition: fill .75s;
    }
    
    svg text.facet-reset-txt {
        cursor: pointer;
        font-weight: bold;
        font-size: 11px;
        font-family:Verdana, Arial, sans-serif;
        fill: black;
        text-anchor: start;
    }
    
        /* Grey out RESET if inactive */
    svg g.inactive rect.facet-reset-btn {
        fill: #A8A8A8;         /* light-grey */
    }
    
    svg g.inactive text.facet-reset-txt {
        fill: #808080;
    }
    
        /* EgoGraph Styles */
    div.egograph {
        width: 100%;
        height: 100%;
        white-space: nowrap;
    }
    
    div.egolist {
        width: 250px;
        height: 300px;
    
        padding: 4px;
        background-color: rgba(255, 255, 255, .8);
    
        color: #222;
        font-family: Verdana, Arial, sans-serif;
        font-size: 10px;
    
        display: inline-block;
        vertical-align: top;
    }
    
    div.egolist > div.sellist-scroll {
        height: 270px;
        overflow-y: scroll;
    }
    
    div.egograph svg {
        display: inline-block;
        vertical-align: top;
    }
    
        /* bond can be both path and line element, so don't specify! */
    svg .bond
    {
        stroke-opacity: 1;
        stroke-width: 6px;
        stroke-dasharray: 6, 2;
        fill: none;
    }
    
    svg .bond.obj-sel
    {
        stroke-dasharray: 0;
    }
    
    svg circle.ring
    {
        stroke: black;
        stroke-opacity: 1;
        stroke-width: 1px;
        fill: none;
    }
    
    /* Specific Filter styles
     * ======================
     */
    
    div.ds-data span.d {
        width: 60px;
        display: inline-block;
    }
    
    div.ds-tip {
        background-color: yellow;
        color: black;
        position: absolute;
        z-index: 10;
        display: none;
    }
    
    div.ds-tip.on {
        display: block;
    }
    
    div.dateslider {
        margin: 0px;
    }
    
    div.dateslider svg {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    div.dateslider g.slider {
    }
    
    div.dateslider line.track,
    div.dateslider line.track-inset,
    div.dateslider line.track-overlay {
        stroke-linecap: round;
    }
    
    div.dateslider line.track {
        stroke: #000;
        stroke-opacity: 0.3;
        stroke-width: 8px;
    }
    
    div.dateslider line.track-inset {
        stroke: #ddd;
        stroke-width: 4px;
    }
    
    div.dateslider line.track-overlay {
        stroke-width: 2px;
    }
    
    div.dateslider circle.handle {
        cursor: pointer;
        fill: #fff;
        stroke: #000;
        stroke-opacity: 0.5;
        stroke-width: 1.25px;
    }
    
    div.ds-range {
        margin: 0;
        padding: 0;
        vertical-align: top;
    }
    
    div.ds-range div.s {
        width: 60px;
        text-align: left;
        float: left;
        padding-left: 6px;
        padding-bottom: 3px;
    }
    
    div.ds-range div.e {
        width: 60px;
        text-align: right;
        float: right;
        padding-right: 16px;
    }
    
        /* Outer container for Vocabulary filters */
    div.filter-vocab-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    
        flex-direction: row;
        justify-content: flex-start;
    
        margin-bottom: 2px;
    }
    
        /* Container for Hide/Show All checkbox entry */
    div.filter-vocab-hsa {
        min-width: 80px;
        margin: 2px;
    }
    
        /* Vertical container for Vocab parent and any children */
    div.filter-vocab-entry {
        display: inline-block;
    
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
    
        margin: 2px;
    }
    
    div.filter-vocab-row {
        display: inline-block;
    }
    
    div.filter-vocab-bar {
        height: 4px;
        width: 50px;
        margin: 0px;
        margin-left: 18px;
        padding: 0px;
        border: 1px black dotted;
    }
    
    /** ABOUT dialog
     **/
    
    #dialog-about img {
        /* Webkit for Chrome and Safari */
        -webkit-transform: scale(.2, .2);
    
        /* Webkit for Mozila Firefox */
        -moz-transform: scale(.2, .2);
    
        /* Webkit for IE( Version: 11, 10 ) */
        -ms-transform: scale(.20, .20);
    }
    
    #dialog-about img.zoomin {
        /* Webkit for Chrome and Safari */
        -webkit-transform: scale(1.0, 1.0);
        -webkit-transition-duration: 800ms;
        -webkit-transition-timing-function: ease-out;
    
        /* Webkit for Mozila Firefox */
        -moz-transform: scale(1.0, 1.0);
        -moz-transition-duration: 800ms;
        -moz-transition-timing-function: ease-out;
    
        /* Webkit for IE( Version: 11, 10 ) */
        -ms-transform: scale(1.0, 1.0);
        -ms-transition-duration: 800ms;
        -ms-transition-timing-function: ease-out;
    }
    
    /** WIDGETS
     **/
    
    #yt-widget {
        margin: 3px;
    }
    
    #na-widget {
        margin: 3px;
    }
    
    #xscript-tbl {
        margin-top: 4px;
        max-height: 220px;
        overflow-y: scroll;
        table-layout: fixed;
    }
    
    #xscript-tbl div.row {
        display: table-row;
        margin: 2px;
        border: blue 1px solid;
    }
    
        /* Create odd-even background toggle */
    #xscript-tbl div.row:nth-child(odd) {
        background: #ddd;
    }
    
    #xscript-tbl div.timecode {
        display: table-cell;
        line-height: 1.2em;
        padding: 2px;
        cursor: pointer;
        width: 86px;
    }
    
        /* playhead */
    #xscript-tbl div.timecode.current {
        background-color: #007fff;
        color: #fff;
    }
    
    #xscript-tbl div.timecode:hover {
        background-color: #0055bb;
        color: #fff;
    }
    
    #xscript-tbl div.xscript {
        font-size: 12px;
        display: table-cell;
        vertical-align: top;
        line-height: 1.2em;
        padding: 2px;
        width: auto;
    }
    
#dropdownmenu1{
    background-color: lightblue;
    font-size: 30px;
    padding: 8px;
    border: 1px solid black;
}

#advancedsetting{
    right: 0px;
    background-color: lightblue;
    font-size: 30px;
    padding: 8px;
    border: 1px solid black;

}

#menu1{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; 
    width: 313px; /*otherwise div defaults to page width*/
    background-color: aliceblue;
    z-index: 100;
    font-size: 20px;
    display:none;
}


#menu2{
    position:absolute;
    top:0;
    bottom:0;
    right:0; 
    width: 313px; /*otherwise div defaults to page width*/
    background-color: aliceblue;
    z-index: 100;
    font-size: 20px;
    display:none;
}


#advSetHeader{
    font-size: 30px;
}

#vizForward{
    font-size: 40px;
    color: darkred
}

#vizBack{
    font-size: 40px;
    color: darkred

}


#mainSelect{
    padding: 30, 20, 30, 20;
    font-size: 30px;
    text-align: center;
}

#selectContainer{
    display: inline-block;
}
#cbwrapper{
    text-align: center;
}