/******************************************************************
 ** CSS for Prospect Front-end Visualizer
 **/

  /* Normalize box sizes! See: http://css-tricks.com/international-box-sizing-awareness-day/
   */
*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	background-color: gray;

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 14px;
	font: white;
}

	/* For busy cursor */
body.waiting * {
	cursor: wait !important;
}

	/* set reasonable defaults */
select {
/*	height: 1.1em;
	line-height: 1em;
	min-height: auto;
	width: auto;
	min-width: auto;
	max-width: auto; */
}

	/* For maximal expansion of element */
.max-size {
	width: 100%;
	height: 100%;
}

	/* DOM structure of web page for visualizations:
	 * #command-bar
	 * #remainder
	 * 		#filter-frame
	 *		#viz-display-frame
	 */

	/* Command Bar always along top row of window */
#command-bar {
	height: 28px;
/*	width: 100%; */
	background-color: yellow;
	color: blue;
	font-size: 14px;
	margin: 0px;
	padding: 2px;
}

#command-bar .title {
	margin-left: 3px;
	margin-top: 2px;
}

#command-bar .ui-icon {
	cursor: pointer;
}

#command-bar .home {
	float: right;
}

	/* Rest of window excluding command bar */
#remainder {
	flex: 1;
}

	/* One of the following three class styles are added to the remainder div
	 *	to produce different layouts of filter and display
	 */

	/* Filters on left half; viz-display on right, split vertically for two */
.layout-1 {		

}

	/* Filters on top half; viz-displays directly below; (stack of three) */
.layout-2 {		

}

	/* Filters on top half; viz-displays directly below, split horizontally */
.layout-3 {		

}

		/* DOM Structure of Filter Frames
		 * #filter-frame
		 * 	#filter-control-bar
		 *	#filter-instances
		 *		.filter-instance
		 *			.filter-head
		 *			.filter-body
		 */

	/* All Filters go into this frame */
#filter-frame {
	background-color: green;
}

	/* This is the control bar for filters */
#filter-control-bar {
	height: 28px;
	padding: 3px;
	margin: 0;
	vertical-align: middle;
	font-size: 12px;
}

	/* All filter instances going into this scrolling area */
#filter-instances {
	min-height: 2px;
	max-height: 80px;		/* Should be more like 150px */
	overflow-y: auto;
	font-size: 12px;
}

	/* Each Filter instance has this class as outer wrapper */
.filter-instance {
	border: black 1px dotted;
}

	/* Title and control bar for each filter instance */
.filter-head {
	height: 24px;
	padding: 2px;
	margin: 0;
	vertical-align: middle;
	font-size: 10px;
}

	/* Area for filter GUI controls */
.filter-body {
}

	/* DOM Structure of Visualization frames
	 * #viz-display-frame
	 *	#viz-frame-0
	 *		.view-control-bar
	 *		.viz-loading
	 *		.viz-content
	 *	#viz-frame-1
	 *		... (same as above)
	 */

	/* One or two displays go into this frame */
#viz-display-frame {
	display: inline;
}

	/* The first visualization display */
#view-frame-0 {
	border: red 1px dashed;
}

	/* The second visualization display */
#view-frame-1 {
	border: red 1px dashed;
}

#viz-display-frame .view-control-bar {
	width: 100%;
	background-color: gray;
	border: 1px dotted black;
	display: inline-block;
	padding: 3px;
	padding-bottom: 1px;
}


#viz-display-frame .view-control-bar .ui-icon {
	cursor: pointer;
}

	/* Section which initially has "Loading Content" message */
#viz-display-frame .viz-loading {
	background-color: yellow;
	padding: 3px;
	color: red;
}

	/* Frame that displays visualization content */
	/*	This is dynamically into .legend-body and .viz-result */
#viz-display-frame .viz-content {
	height: 400px;		/* Temporary hack to create viz space */
}

	/* All visualization results rendered here */
#viz-display-frame .viz-content .viz-result {
/*	position: absolute;
	top: 0px;
	left: 0px;
*/
/*	opacity: 99;
	z-index: 1;
*/
	margin: 0px;
	padding: 2px;
	width: 100%;
	height: 100%;
}

	/* Legends are semi-opaque overlays on content in top-left corner (z = 1000)
	 * legend-container (outer)
	 *		legend-update
	 *		legend-scroll (scrolling area)
	 * 		legend-template (DIV per template): data-index = index of Template
	 *			legend-title
	 *			legend-locate (Attribute that locates object on visualization): data-id = Attribute ID
	 *			legend-select (menu with list of Legend Attributes)
	 *				option value = (full) Attribute ID
	 *			legend-sh	  (show/hide option)
	 *			legend-group  (DIV of feature selections for a Template)
	 *				legend-value  (single legend feature): data-index = index of legend entry in array
	 *					legend-viz   (color or icon)
	 *
	 * NOTES:	Any line that begins with a checkbox is DIV of class 'legend-entry'.
	 * 			The checkbox itself is class legend-entry-check
	 *			On z-index: http://philipwalton.com/articles/what-no-one-told-you-about-z-index/
	 *				https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Understanding_z_index/Adding_z-index
	 */
.legend-container {
	position: relative;
/*	top: 6px;
*/
	top: -390px;
	left: 10px;
	opacity: 0.85;
	z-index: 100;

	width: 240px;

	max-height: 265px;

	padding: 6px;

	background: #fff;
	background-color: rgba(255, 255, 255, .95);

	color: #222;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;

	-moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
}

	/* Button to force Re-render */
.legend-update {
	height: 18px;
	margin-bottom: 3px;
	font-size: 10px;
	font-weight: bold;
	color: green;
}

.legend-scroll {
	overflow-y: auto;
	height: 232px;
}

.legend-title {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dotted #111;
	margin-bottom: 6px;
}

	/* A selectable entry that has a checkbox */
.legend-entry {
	font-size: 12px;
	height: 22px;
	font-weight: normal;
	padding: 0;
	margin: 0;

	position: relative;
/*	float: left !important;
	display: inline-block !important; */
}

	/* Legend Attribute checkbox */
.legend-entry-check {
	cursor: pointer;
}

	/* visual marker in a legend-entry */
.legend-viz {
	border: 1px solid dotted;

	width: 18px;
	height: 18px;

	display: inline-block;
	vertical-align: middle;
/*	position: absolute;
	top: 2px;
	left: 22px; */
}

.legend-viz-empty {
	background: -webkit-linear-gradient(white, gray, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, gray, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, gray, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, gray, white); /* Standard syntax */
}

.legend-value-title {
	vertical-align: middle;
/*	position: absolute;
	left: 42px; */
}

/* MODAL DIALOGS */

	/* For lists in modal Dialogs */
.scroll-container {
/*	overflow-y: auto; */
}

.scroll-container ul {

}

.scroll-container .selected {
	color: red;
}

#layout-choices {
	margin-left: auto;
	margin-right: auto;
}

#layout-choices img {
	cursor: pointer;
}

#layout-choices .selected {
	border: 1px red solid;
}

	/* Selection Glow
	 */

.selected-object {
    animation: anim-bkgnd-pulse 2s infinite;
    -0-animation: anim-bkgnd-pulse 2s infinite;
    -moz-animation: anim-bkgnd-pulse 2s infinite;
    -webkit-animation: anim-bkgnd-pulse 2s infinite; /* Chrome, Safari, Opera */
}

@keyframes anim-bkgnd-pulse {
	0%, 100% { border-style: dotted; border-color: gray; border-width: 1px; }
	50% { border-style: solid; border-color: red; border-width: 1px; }
}

@-o-keyframes anim-bkgnd-pulse {
	0%, 100% { border-style: dotted; border-color: gray; border-width: 1px; }
	50% { border-style: solid; border-color: red; border-width: 1px; }
}

@-moz-keyframes anim-bkgnd-pulse {
	0%, 100% { border-style: dotted; border-color: gray; border-width: 1px; }
	50% { border-style: solid; border-color: red; border-width: 1px; }
}

@-webkit-keyframes anim-bkgnd-pulse {
	0%, 100% { border-style: dotted; border-color: gray; border-width: 1px; }
	50% { border-style: solid; border-color: red; border-width: 1px; }
}


	/* jQueryUI overrides
	 * ==================
	 */

.ui-dialog-title, .ui-dialog-content, .ui-dialog-buttonpane {
	font-size: small;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}


	/* To minimize size of ui buttons */
.ui-button-icon-only {
	width: 1.4em !important;
	height: 1.4em !important;
}

label {
	display: inline-block;
	width: 5em;
}
